Quantus/Finn's stuff/New folder/Quantus/data/keymap.dtd

<!ELEMENT keymap (branch)>
<!ELEMENT branch (branch|mapping)*>
<!ELEMENT mapping (input,control)>
<!ELEMENT input ((modifier*,key,event?)|PCDATA)>
<!ELEMENT modifier (PCDATA)>
<!ELEMENT key (PCDATA)>
<!ELEMENT event (PCDATA)>
<!ELEMENT control (PCDATA)>

<!ATTLIST branch name CDATA #REQUIRED>